---

RHEL_VERSION: 7
DTR_VERSION: 2.5.3
UCP_VERSION: 3.0.2

# Credentials for RHEL activation
RHEL_USERNAME: lbnunix
RHEL_PASSWORD: lbnpassword

# Docker EE licence URL
DOCKER_EE_URL: ""

# UCP credentials
UCP_USERNAME: admin
UCP_PASSWORD: adminadmin

# DTR replica ID for joining first DTR node
replica_id: 13b873dfa912

# ansible
ANSIBLE_ROLES_PATH: "{{ playbook_dir }}/roles"
